* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  border: 2px solid;
  width: 70%;
  border-radius: 10px;
  padding: 10px 15px;
  background-color: #F4E0B9;
}

header {
  color: #A8A196;
  text-align: center;
}

main {
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

main .todo-top {
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: 40px;
}

main .todo-top input {
  flex-grow: 4;
}

main .todo-top .btn {
  flex-grow: 1;
  border-radius: 5px;
  cursor: pointer;
  transition: .2;
}

main .todo-top .btn:hover {
  color: white;
  background-color: black;
}

main .todo-bottom .list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main .todo-bottom .list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .2;
}

main .todo-bottom .list li .hide {
   text-decoration: none !important;
}


main .todo-bottom .list li:hover {
  background-color: antiquewhite;
}

main .todo-bottom .list li.line {
  text-decoration: line-through;
}


main .todo-bottom .list li button {
  border-radius: 2px;
  padding: 5px 10px;
}


footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

footer .del {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: .2;
}

footer .del:hover {
  color: white;
  background-color: black;
}